version: '3.8'
services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  productsvc:
    build: .
    container_name: productsvc
    ports:
      - "7070:7070"
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://mongodb:27017/productsvcdb
    depends_on:
      - mongodb

volumes:
  mongo_data:
